@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0E0B16;
    color: #E7DFDD;
}

h1:first-letter {
    color: #A239CA;
}

a {
    text-decoration: none;
    color: #E7DFDD;
}

header img {
    width: 30px;
    height: 30px;
}